<launch>
	<arg name="rvizconfig" default="$(find densefusion_ros)/rviz/display.rviz" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

	<node name="onigiriPose" pkg="densefusion_ros" type="densefusion_ros.py" output="screen" ns = "onigiri">
	</node>

</launch>